<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Testing Website</title>
</head>

<body>
    <h1>Hello World!</h1>

    <img src="{{ url_for('static', filename='images/banana.png') }}" />
    <form action="" method="POST">
        <input type="text" placeholder="First Name" />
        <input type="text" placeholder="Second Name" />
        <input type="number" placeholder="Age" />
        <input type="submit" value="Send" />
    </form>

    <p>test</p>
</body>

</html>